@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:root{
    --primary-color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 50px;
    font-family: 'Pangolin', cursive;
    background-color: var(--primary-color);
}
h1{
    color: white;
    text-align: center;
}

.container{
    display: flex;
    background-color: black;
}
.container div{
    margin: 20px;
    width: 100%;
    color: #fff;
    gap: 5px;
    padding-left: 20%;
}

#option1{
    font-size:2rem;
    border-radius:12px;
    cursor: pointer;
    text-align: center;
    padding:20px;
    color:#fff;
    background-color: #67656b;
    margin: 0.2rem;
    width: 35rem;
    height: 4rem;
}
#option2{
    font-size:2rem;
    border-radius:12px;
    cursor: pointer;
    text-align: center;
    padding:20px;
    color:#fff;
    background-color:  #67656b;
    margin: 0.2rem;
    width: 35rem;
    height: 4rem;
   
}
#option3{
    font-size:2rem;
    border-radius:12px;
    cursor: pointer;
    text-align: center;
    padding:20px;
    color:#fff;
    opacity: 0.8;
    background-color:#67656b;
    margin: 0.2rem;
    width: 35rem;
    height: 4rem;
}
#option4{
    font-size:2rem;
    border-radius:12px;
    cursor: pointer;
    text-align: center;
    padding:20px;
    color:#fff;
    opacity: 0.8;
    background-color:#67656b;
    margin: 0.2rem;
    width: 35rem;
    height: 4rem;
}
button:hover{
    color: maroon;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.nextLink{
    text-align: right;
    position: absolute;
    left: 50rem;
    border-radius: 50%;
    display: inline;
   
   
}   

@media (max-width:640px){
    html{
        font-size: 85%;
    }
    
        section{
            width: 16rem;
            margin-left: 8rem; ;
            
        }
    }



@media (max-width:480px){
html{
    font-size: 75%;
}

    section{
        width: 16rem;
        margin-left: 8rem; ;
        
    }
}

